* ---------------------------Container Start----------------------------- */
.container-fluid{
    border: 10px solid black;
    height: 122vh;
    width: 100%;
    padding: 14px;
}

/* ---------------------------Header----------------------------- */
body {
    background-image: url("https://images.pexels.com/photos/531756/pexels-photo-531756.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-color: #cccccc;
   }


.row-1{
    background-color: black;
    /* border: 5px solid red;  */
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

heading{
    font-family: inherit;
    font-size: 50px;
    font-weight: bold;
    justify-content: center;
    color:black;
}

#name-logo-placeholder{
    border: 3px solid blue;
    height: 137px;
    background-color: white;

}

/* ---------------------------User Input----------------------------- */
.row-2{
    height: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 57px;
}

#search-bar-placeholder{
    /* border: 3px solid blue; */
    height: 30px;
}

#search-button-placeholder{
    /* border: 3px solid blue; */
    height: 30px;
}

/* ---------------------------API Output----------------------------- */
.row-3{
    background-color: white;
    border: 5px solid red;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
    border-radius: 30px;
}

#location-placeholder{
    border: 3px solid blue;
    height: 384px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
    border-radius: 30px;
}

#condition-icon{
    height: 64px;
    width: 64px;
    border: 3px solid green;
}

#weather-placeholder{
    border: 3px solid blue;
    height: 384px;
    border-radius: 30px;
}

#second-api-output-placeholder{
    border: 3px solid blue;
    height: 384px;
    border-radius: 30px;
}
/* ---------------------------Footer---------------------------- */

.row-4{
    background-color: whitesmoke;
    border: 5px solid red;
    height: 189px;
    border-radius: 30px;
}

#team-info{
    border: 3px solid blue;
    height: 30px;
}

#tbd{
    border: 3px solid blue;
    height: 30px;
}
/* ---------------------------Container End----------------------------- */

