/* NOTE: Current red and blue bordering is temporary */
/* ---------------------------Container Start----------------------------- */
.container-fluid{
    border: 10px solid black;
    height: 122vh;
    width: 100%;
    padding: 14px;
}

/* ---------------------------Header----------------------------- */
.row-1{
    border: 5px solid red; 
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#name-logo-placeholder{
    border: 3px solid blue;
    height: 137px;
}

/* ---------------------------User Input----------------------------- */
.row-2{
    border: 5px solid red;
    height: 151px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 57px;
}

#search-bar-placeholder{
    /* border: 3px solid blue; */
    height: 30px;
}

#search-button-placeholder{
    /* border: 3px solid blue; */
    height: 30px;
}

/* ---------------------------API Output----------------------------- */
.row-3{
    border: 5px solid red;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px;
}

#location-placeholder{
    border: 3px solid blue;
    height: 384px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: 5px;
}

#condition-icon{
    height: 64px;
    width: 64px;
    border: 3px solid green;
}

#weather-placeholder{
    border: 3px solid blue;
    height: 384px;
}

#second-api-output-placeholder{
    border: 3px solid blue;
    height: 384px;
}

/* ---------------------Trimble Maps Components------------------ */

.trimblemaps-canary{
    visibility: visible;
    width: 443.33px;
    height: 378px;
    position: fixed;
}

#menu {
    position: absolute;
    background: #fff;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}
/* ---------------------------Footer---------------------------- */

.row-4{
    border: 5px solid red;
    height: 189px;
}

#team-info{
    border: 3px solid blue;
    height: 30px;
}

#tbd{
    border: 3px solid blue;
    height: 30px;
}
/* ---------------------------Container End----------------------------- */




